/* Reset and general styles */
body {
    background-color: #5692dc;
    background-image: url("https://www.transparenttextures.com/patterns/nice-snow.png");
    margin: 0;
    padding: 0;
}

/* Typography */
.orange {
    color: #EE7214;
}

.temparature {
    font-size: 3rem;
    padding: 0 !important;
}

.card-body > span > i {
    font-size: 0.8rem;
}

.units {
    font-size: 0.8rem;
}

/* Backgrounds */
.col-4 > .card {
    background-color: rgba(239, 116, 21, 0.15);
    border: 0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: transparent;
}

.weather {
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
}

/* Forms */
.form-floating input:focus {
    box-shadow: none;
    border: 1px solid #EE7214;
}

.form-control {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.30);
}

/* Buttons */
.btn-check:checked + .btn,
.btn-check + .btn:hover {
    background-color: #EE7214;
    border: 1px solid #EE7214;
    color: #fff;
}

.btn-check + .btn {
    border: 1px solid #EE7214;
    padding: 2px 5px !important;
}

/* Cards */
.btn-check:checked + .btn {
    background-color: #EE7214;
    color: white;
    border: none;
}

/* Weather specific styles */
.btn-check:checked + .btn,
.btn-check + .btn:hover {
    background-color: #EE7214;
    border: 1px solid #EE7214;
    color: #fff;
}

/* Footer styles */
footer {
    width: 100%;
}

footer > a {
    color: #fff;
    text-decoration: none;
    font-size: 0.7rem;
}

footer > span {
    font-size: 0.7rem;
}

.fa-xl {
    font-size: 1rem;
}
